GEMINI_API_KEYS=AIzaSyAqfQNB2_fUmYC3g-5t_ErHC2rI7naxm50,AIzaSyD3OdoJhT1e18D6jo1zlqU8ABrf3oBVees,AIzaSyAjm_lJCCIk_r2bJSc8qNnLJAd1e-IKZ1o,AIzaSyBd9FDHUQqVJWGBLA-zYBKv73dE6ZpvqlM,AIzaSyBO61qBHeGEgq78V2DqbVBQOgBsq5tXxoo,AIzaSyA88hM6FI_pVeQvQHJKZjcPqCrKUrxGxvo
DEFAULT_SOURCE_LANG=en
DEFAULT_TARGET_LANG=ur
HISTORY_LIMIT=20
